<div class="container d-flex justify-content-center flex-column align-items-center">
  <!-- <div class="row"> -->
      <form class="row w-75 p-3" (ngSubmit)="onSubmitSearch()" [formGroup]="searchForm">
          <div class="col-auto w-75">
            <label for="staticEmail2" class="visually-hidden"> Enter Package ID</label>
            <input type="text" class="form-control"  formControlName="search" required id="search" placeholder=" Enter Package ID">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Track</button>
          </div>
        </form>

        <div *ngIf="errorMsg != ''" class="alert alert-danger m-2" role="alert">
          {{ errorMsg }}
        </div>
  <!-- </div> -->
  <div class="row">
      <div class="col-6">
          <div class="row">
              <h3 class="mb-3">Package Details</h3>
              <div class="mb-3">
                  <label for="description" class="form-label fw-bold mx-2">Package ID:</label>
                  <span>{{ packageData?.package_id }}</span>
                </div>
              <div class="mb-3">
                  <label for="description" class="form-label fw-bold mx-2">Description:</label>
                  <span>{{ packageData?.description }}</span>
                </div>
                <div class="mb-3">
                  <label for="weight" class="form-label fw-bold mx-2">Weight (grams):</label>
                  <span>{{ packageData?.weight }}</span>
                </div>
                <div class="mb-3">
                  <label for="width" class="form-label fw-bold mx-2">Width (cm):</label>
                  <span>{{ packageData?.width }}</span>
                </div>
                <div class="mb-3">
                  <label for="height" class="form-label fw-bold mx-2">Height (cm):</label>
                  <span>{{ packageData?.height }}</span>
                </div>
                <div class="mb-3">
                  <label for="depth" class="form-label fw-bold mx-2">Depth (cm):</label>
                  <span>{{ packageData?.depth }}</span>
                </div>
                <div class="mb-3">
                  <label for="from_name" class="form-label fw-bold mx-2">From Name:</label>
                  <span>{{ packageData?.from_name }}</span>
                </div>
                <div class="mb-3">
                  <label for="from_address" class="form-label fw-bold mx-2">From Address:</label>
                  <span>{{ packageData?.from_address }}</span>
                </div>
                <div class="mb-3">
                  <label for="from_lat" class="form-label fw-bold mx-2">From Latitude:</label>
                  <span>{{ packageData?.from_location.lat }}</span>
                </div>
                <div class="mb-3">
                  <label for="from_lng" class="form-label fw-bold mx-2">From Longitude:</label>
                  <span>{{ packageData?.from_location.lng }}</span>
                </div>
                <div class="mb-3">
                  <label for="to_name" class="form-label fw-bold mx-2">To Name:</label>
                  <span>{{ packageData?.to_name }}</span>
                </div>
                <div class="mb-3">
                  <label for="to_address" class="form-label fw-bold mx-2">To Address:</label>
                  <span>{{ packageData?.to_address }}</span>
                </div>
                <div class="mb-3">
                  <label for="to_lat" class="form-label fw-bold mx-2">To Latitude:</label>
                  <span>{{ packageData?.to_location.lat }}</span>
                </div>
                <div class="mb-3">
                  <label for="to_lng" class="form-label fw-bold mx-2">To Longitude:</label>
                  <span>{{ packageData?.to_location.lng }}</span>
                </div>
                                  
          </div>
          <div class="row">
              <h3 class="mb-3">Delivery Details</h3>
              <div class="mb-3">
                  <label for="delivery_id" class="form-label fw-bold mx-2">Delivery ID:</label>
                  <span>{{ deliveryData?.delivery_id }}</span>
                </div>
                <div class="mb-3">
                  <label for="package_id" class="form-label fw-bold mx-2">Package ID:</label>
                  <span>{{ deliveryData?.package_id }}</span>
                </div>
                <div class="mb-3">
                  <label for="pickup_time" class="form-label fw-bold mx-2">Pickup Time:</label>
                  <span>{{ deliveryData?.pickup_time }}</span>
                </div>
                <div class="mb-3">
                  <label for="start_time" class="form-label fw-bold mx-2">Start Time:</label>
                  <span>{{ deliveryData?.start_time }}</span>
                </div>
                <div class="mb-3">
                  <label for="end_time" class="form-label fw-bold mx-2">End Time:</label>
                  <span>{{ deliveryData?.end_time }}</span>
                </div>
                <div class="mb-3">
                  <label for="location" class="form-label fw-bold mx-2">Location:</label>
                  <span>Lat: {{ deliveryData?.location.lat }}, Lng: {{ deliveryData?.location.lng }}</span>
                </div>
                <div class="mb-3">
                  <label for="status" class="form-label fw-bold mx-2">Status:</label>
                  <span>{{ deliveryData?.status }}</span>
                </div>
                 
              
          </div>
      </div>
      <div class="col-6">
          <google-map>
              <map-marker
                  *ngIf="fromMarker"
                  [position]="fromMarker.position"
                  [label]="fromMarker.label"
                  [title]="fromMarker.title"
                  [options]="fromMarker.options"
              >
              </map-marker>
              <map-marker
                  *ngIf="toMarker"
                  [position]="toMarker.position"
                  [label]="toMarker.label"
                  [title]="toMarker.title"
                  [options]="toMarker.options"
              >
              </map-marker>
          </google-map>
      </div>
  </div>
</div>






